* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', 'sans-serif';
    text-align: center;
    background-color: black;
    color: white;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {font-size: 2em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 2em;}
td {font-size: 1em;}
p {font-size: 1em;}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 1.3rem 1.3rem;
}

nav {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

nav a {
    padding: 0 3rem; 
}


header .container {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

header {
    width: 100%;
    position:fixed;
}

@keyframes animacion {
    from {background-color: black;}
    to {background-color: brown;}
  }

.container_header {
    height: 100vh;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/pareja\ de\ fondo.jpg);
    background-position: center;
    background-size: cover;
}

.container_header_txt {
    background-color: rgb(255, 255, 255);
    opacity: 70%;
}

.container_header_txt a:link {
    text-decoration: none;
}

.container_header_txt p {
    font-size: 1.4rem;
    color: black;
}

.container_header_txt h2 {
    font-size: 2.6rem;
    color: brown;
}

#Agenda .container_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.AgendaResponsive, .AgendaContainer {
    display: none;
}

.Noticia_img {
    display: flex;
    background-image: url(./img/noticia1.jpeg);
    height: 50vh;
    background-position: center;
    background-size: cover;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
}
div h2 {
    padding-top: 0.5rem;
}

#Opiniones div {
    padding: 0rem 5rem;
}


@media (max-width: 425px) {
    
    header .container {
        background-color: brown;
    }

    .container_header_txt {
        background-color: white;
        opacity: 65%;
    }
    
    .container_header_txt p {
        color: black;
    }

    nav {
        position:fixed;
        background: rgba(0,0,0,0.8);
        top: 0;
        bottom: 0;
        left: -100vw;
        width: 100vw;
        z-index: 1;
        transition: 0.5s;
    }
    nav ul {
        padding: 0;
        width: 80%;
        margin: 6rem auto;
    }
    
    nav ul a {
        display: block;
        padding: 1.75rem 1rem;
        background-color: brown;
    }

    header .container {
        display: flex;
    }
    
    #abrir_menu, #cerrar_menu {
        display: block;
        width: 32px;
        height: 32px;
        background: url(./img/menu\ abrir.png);
        background-size: contain;
    }
    
    #cerrar_menu {
        background-image: url(./img/menu\ cerrar.png);
        display: none;
    }
    
    header h1 {
        flex: 1;
    }
    
    body:target nav {
        left: 0;
    }

    body:target #abrir_menu {
        display: none;
    }

    body:target #cerrar_menu {
        display: block;
    }

    #Agenda {
        display: none;
    }

    .AgendaResponsive {
        padding: 0.5rem 0rem;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .AgendaContainer {
        display: flex;
        justify-content: center;
    }

    .AgendaCaja {
        width: 7rem;
        height: 6.8rem;
        margin: 0.5rem .5rem;
        border: 0.2rem solid rgb(193, 42, 42);
        background-color: rgb(255, 255, 255);
    }

    .AgendaDia {
        background-color: rgb(193, 42, 42);
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        border: 0.3rem solid  rgb(255, 255, 255);
    }

    .AgendaEvento {
        color: black;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .reservas {
        width: 15rem;
        display: flex;
        padding: 0.5rem;
    }

    form .form_button {
        margin-top: 0.5rem;
    }

    #Noticias {
        padding: 0rem 2rem;
        
    }

    .Noticia_img {
        display: flex;
        background-image: url(./img/noticia1.jpeg);
        height: 50vh;
        background-position: center;
        background-size: cover;
        width: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0.8rem;
    }
    div h2 {
        padding-top: 0.5rem;
    }

    #Opiniones div {
        padding: 0.5rem 3rem;
    }

    p {
        font-size: 0.7rem;
    }

    #Contacto, #Contacto h3, footer, footer {
        padding: 0;
    }

    #Contacto h3 {
        padding-bottom: 0.5rem;
    }

    #Contacto div h3 {
        padding-bottom: 0rem;
    }

    .redes {
        margin: 0rem;
    }
}

@media (min-width: 426px) and (max-width: 1023px) {
    
} 


nav ul a {
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

nav ul a:hover {
    color: white;
    box-shadow: 5px 5px 10px; 
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_main {
    width: 100%;
    padding: 20px;
}

.museo1 {
    height: 100vh;
    width: auto;
    background-image: url(./img/Louvre.jpg);
    background-position: center;
    background-size: cover;
}

.museo2 {
    height: 100vh;
    width: auto;
    background-image: url(./img/bbb.jpg);
    background-position: center;
    background-size: cover;
}

.container_main h2 {
    padding: 10px;
}

/*agregue el overflow para q scrolee la agenda*/
#Agenda {
    overflow-x: auto;
    background-color: brown;
    padding: 2em;
}

table {
    height: 100vh;
    width: auto;    
}

tr {
    width: 100%;
}

th {  
    border: 0.1rem solid black;    
}

td {
    border: 1px solid black;
    font-size: 1rem;
    padding: 0.2rem 0.2rem;
    content: 0px;
}

#Formulario {
    padding: 20px;
}

form {
    padding: 15px;
}

form input {
    width: 15rem;
    height: 1.8rem;
}

.form_button {
    font-size: 1rem;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    background-color: brown;
    border-radius: 1rem;
    border: 0.1rem solid black;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    color: white;
}

#Noticias {
    background-color: brown;
    color: white;
}

.Noticias_img {
    background-image: url(./img/noticia1.jpeg);
    
}

.Opiniones_grid {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.Opiniones_grid p {
    border-bottom: 0.1rem solid brown;
    margin-bottom: 1rem;
}

.Opiniones_img {
    width: 6rem;
    border-radius: 60%;
    padding: 0.8rem 0rem;
}

.redes {
    width: 3rem;
    height: auto;
    margin: 1.5rem 1.5rem;
}

.container h3 {
    padding-top: 1rem;
}

@media (min-width: 426px) {
    
    #Opiniones {
        display: flex;
        padding: 3rem;
    }
        
    .container_contacto {
        display: flex;
        justify-content: center;
    }
    
    .container_contacto p {
        padding: 0rem 1rem;
    }
    
}